<!--User#show-->
 <div class ="container px-5 px-sm-0">
    <div class = "row">
        <%= render 'osakes/side', user: @user, osakes: @osakes, osakenew: @osakenew %>
        <%= render 'osakes/main', osakes: @osakes %>
    </div>
</div>

