<!--Homes#about-->
<div class = "container">
  <div class = "row">
  <div class = "mx-auto" cl-11 col-sm-10 col-lg-8 col-xl-6 >
      <h1>welcome to <strong><i class="fas fa-osake"></i>Osake_Club</strong> !!</h1>
    </div>
  </div>
</div>